.DS_Store
05_ClickHouse/clickhouse_data/uuid
05_ClickHouse/*
09_Security_Privacy/clickhouse_data
.requirements/
node_modules/
**/pgdata/
**/dbt_project/target/
**/dbt_project/logs/
**/dbt_project/dbt_packages/
