POSTGRES_USER=data_engineer
POSTGRES_PASSWORD=local_practice_password
POSTGRES_DB=star_schema
POSTGRES_PORT=5434
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=local_admin_password
PGADMIN_PORT=5052
